* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
    margin: 2.5rem;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px 40px;
    padding: 2.5rem;
}

section {
    background-color: #ffffff;
    height: 260px;
}

/* Two columns for tablet */
@media (max-width: 1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 640px) {
    main {
        grid-template-columns: 1fr;
    }
}